.Pagination {
  display: flex;
  justify-content: end;
  padding-right: 21px;
}
.Pagination-element {
  cursor: pointer;
  user-select: none;
  align-content: center;
  text-align: center;
  list-style: none;
  width: 20px;
  height: 20px;
  padding: 0 2px 0 2px;
}
.Pagination-element:hover {
  background: #e1e1e1;
}
.Pagination-element--current {
  background: #0087e9;
  color: white;
  pointer-events: none;
}
.Pagination-list {
  display: flex;
}
.Pagination-out {
  cursor: auto;
  user-select: none;
  pointer-events: none;
  color: #cccccc;
}
